.box {
    background-color: red;
    width: 945px;
    height: 370px;
    background: url("../img/01.jpg") no-repeat center center;
    background-size: cover;
}

.box p {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 165px;
    margin: auto;
}

.box2 {
    background-color: red;
    width: 945px;
    height: 370px;
    background: url("../img/02.jpg") no-repeat center center;
    background-size: cover;
}

p.title {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 120px;
    margin: auto;
    width: 370px;
}

p.text {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    margin: auto;
    width: 370px;
}
